
<!--引入通用头部-->
{{include 'default/public/header.html'}}

<body class="user-select">

<!--引入头部导航-->
{{include 'default/public/nav_header.html'}}

<section class="container">
    <div class="content-wrap">
        <div class="content">
            <div class="title">
                <h3 style="line-height: 1.3">关于我</h3>
            </div>





        </div>
    </div>

    {{include 'default/public/nav_right.html'}}

</section>

{{include 'default/public/footer.html'}}

{{include 'default/public/javaScript.html'}}

</body>
</html>
