
<!--引入通用头部-->
{{include 'default/public/header.html'}}

<body class="user-select">

<!--引入头部导航-->
{{include 'default/public/nav_header.html'}}

<section class="container">
    <div class="content-wrap">
        <div class="content">

            <!-- 轮播图 -->
            <div id="focusslide" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#focusslide" data-slide-to="0" class="active"></li>
                    <li data-target="#focusslide" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    {{each focus}}
                    <div class="item {{if $index == 0}}active{{/if}}">
                        <!--a href="" target="_blank" title="个人博客">
                            </a-->
                        <img src="{{$value.img}}" alt="个人博客" class="img-responsive">
                    </div>
                    {{/each}}
                    <!--div class="item">
                        <a href="#" target="_blank" title="专业网站建设">
                            <img src="/default/images/201610241227558789.jpg" alt="专业网站建设" class="img-responsive"></a>
                    </div-->
                </div>

                <!-- 轮播图控制 -->
                <a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span
                        class="sr-only">上一个</span> </a> <a class="right carousel-control" href="#focusslide"
                                                           role="button" data-slide="next" rel="nofollow"> <span
                    class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span
                    class="sr-only">下一个</span> </a></div>

            <!-- 最新推荐 -->
            <article class="excerpt-minic excerpt-minic-index">
                <h2><span class="red">【推荐】</span><a target="_blank" href="#" title="用DTcms做一个独立博客网站（响应式模板）">用DTcms做一个独立博客网站（响应式模板）</a>
                </h2>
                <p class="note">用DTcms做一个独立博客网站（响应式模板），采用DTcms V4.0正式版（MSSQL）。开发环境：SQL2008R2+VS2010。DTcms
                    V4.0正式版功能修复和优化：1、favicon.ico图标后台上传。（解决要换图标时要连FTP或者开服务器的麻烦）</p>
            </article>


            <!-- 二级分类标签 -->
            <div class="title">
                <h3>最新发布</h3>
                <div class="more">
                    {{each G.navlist}}
                        {{if $value.catepid != "0"}}
                            <a href="/list{{$value.linkurl}}" title="MZ-NetBlog主题">{{$value.title}}</a>
                        {{/if}}
                    {{/each}}
                    <!--a href="#" title="IT技术笔记">IT技术笔记</a>
                    <a href="#" title="源码分享">源码分享</a>
                    <a href="#" title="靠谱网赚">靠谱网赚</a>
                    <a href="#" title="资讯分享">资讯分享</a-->
                </div>
            </div>

            {{each list}}

            <!-- 最新发布 -->
                <article class="excerpt excerpt-1" >
                    <a href="/show" style="width: 100%;height: 100%">
                        <p class="focus" title="{{$value.title}}" target="_blank">
                            <!-- 左侧图片 -->
                            <img class="thumb" data-original="{{$value.img}}" src="{{$value.img}}" alt="{{$value.title}}" style="display: inline;">
                        </p>
                        <header><span class="cat" href="#" title="MZ-NetBlog主题">{{$value.catename}}</span>
                            <h2> {{$value.title}} </h2>
                        </header>
                        <p class="meta">
                            <!-- 发布时间 -->
                            <time class="time"><i class="glyphicon glyphicon-time"></i> {{$value.add_time,'YYYY/MM/DD HH:mm' | dateFormat}}</time>
                            <!-- 访问人数 -->
                            <span class="views"><i class="glyphicon glyphicon-eye-open"></i> 216</span>
                            <!-- 评论人数 -->
                            <a class="comment" href="##comment" title="评论" target="_blank">
                                <i class="glyphicon glyphicon-comment"></i>
                                4
                            </a>
                        </p>
                        <!-- 描述 -->
                        <a href="/show">
                            <p class="note">
                                {{$value.desc}}
                            </p>
                        </a>
                    </a>
                </article>

            {{/each}}


            <!-- 分页 -->
            <!--nav class="pagination" style="display: none;">
                <ul>
                    <li class="prev-page"></li>
                    <li class="active"><span>{{curPage}}</span></li>
                    <li><a href="?page={{curPage}}">{{curPage}}</a></li>
                    <li class="next-page"><a href="?page={{nextPage}}">下一页</a></li>
                    <li><span>共 {{totalPages}} 页</span></li>
                </ul>
            </nav-->
        </div>
    </div>

    <!--div class="tlinks">Collect from <a href="http://www.cssmoban.com/">企业网站模板</a></div-->

    {{include 'default/public/nav_right.html'}}

</section>


{{include 'default/public/footer.html'}}

{{include 'default/public/javaScript.html'}}

</body>
</html>
