<!-- 底部 -->
<footer class="footer">
    <div class="container">
        <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="/"
                                                                                    target="_blank"
                                                                                    title="模板之家">还没想好</a> - Collect from
            <a href="/" title="网页模板" target="_blank">留下位置</a></p>
    </div>
    <div id="gotop"><a class="gotop"></a></div>
</footer>